# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Haake\seattle_u\data_structures\week_1\arrays_exercise\.idea/dataSources/
/dataSources.local.xml
